<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Добро пожаловать на главную страницу!</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit">Загрузить видео</button>
    </form>
    <br>
    <!-- <a href="{{ url_for('video.video_page') }}">
        <button>Перейти к записи видео</button>
    </a> -->
</body>
</html>